.nav-conent-2-content-2 ul li:nth-child(2) a {
    color: var(--text-color-hover);
}

.nav-conent-2-content-2 ul li:nth-child(2) a::before,
.nav-conent-2-content-2 ul li:nth-child(2) a::after {
    width: 50%;
}

.menu a:nth-child(2) .menu-list {
    background-color: var(--text-color-hover);
    color: #ffffff;
}

.destinations {
    width: 100%;
    margin-top: 140px;
    margin-bottom: 60px;
    display: flex;
}

@media(max-width: 576px) {
    .destinations {
        margin-top: 130px;
    }
}

.destinations-header{
    width: 100%;
}

.destinations-header h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    text-align: center;
}

.destinations-header p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.destinations-content{
    width: 100%;
    margin-top: 60px;
}

.destinations-list-content{
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.destinations-list {
    width: calc(100% / 3 - 13px - 20px);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px;
}

.destinations-list-2 {
    margin-left: 20px;
}

.destinations-list-3 {
    margin-left: 20px;
}

.destinations-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.destinations-list h3 {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.destinations-list p {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.destinations-list-map{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.destinations-list a{
    font-family: 'Abel', sans-serif;
    color: var(--text-color-hover);
    font-size: 16px;
    transition: all .5s ease;
}

.destinations-list a:hover{
    font-family: 'Abel', sans-serif;
    color: blue;
    text-decoration: underline;
}

.destinations-list-button{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.destinations-list-button input {
    width: 150px;
    height: 30px;
    background-color: var(--text-color-hover);
    margin-top: 10px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease;
}

.destinations-list-button input:hover {
    background-color: blue;
}




@media(max-width:768px) {

    .destinations-list-content {
        display: block;
    }

    .destinations-list {
        width: calc(100% - 20px);
    }

    .destinations-list-2 {
        margin-left: 0px;
        margin-top: 20px;
    }

    .destinations-list-3 {
        margin-left: 0px;
        margin-top: 20px;
    }

    .destinations-list img {
        height: 300px;
    }
}


@media(max-width: 576px) {
    .destinations-list img {
        height: 200px;
    }
}