.nav-conent-2-content-2 ul li:nth-child(5) a {
    color: var(--text-color-hover);
}

.nav-conent-2-content-2 ul li:nth-child(5) a::before,
.nav-conent-2-content-2 ul li:nth-child(5) a::after {
    width: 50%;
}

.menu a:nth-child(5) .menu-list {
    background-color: var(--text-color-hover);
    color: #ffffff;
}

.blog-details {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
}

@media(max-width: 576px) {
    .blog-details {
        margin-top: 70px;
    }
}

.blog-details-content {
    width: 100%;
}

.blog-details-header {
    width: 100%;
    height: 350px;
    position: relative;
}

.blog-details-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-details-header-cover {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.blog-details-header-cover h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 35px;
    color: #ffffff;
}

.blog-details-header-cover p {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 10px;
}

.blog-details-header-cover a {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    color: rgb(0, 153, 255);
    transition: all 0.3s ease;
}

.blog-details-header-cover a:hover {
    color: var(--text-color-hover);
}


@media(max-width: 576px) {
    .blog-details-header {
        height: 400px;
    }

    .blog-details-header-cover {
        height: 400px;
    }
}

/*  */

.blog-details-content-1 {
    margin-top: 60px;
    display: flex;
}

.blog-details-all-content p {
    font-family: 'Abel', sans-serif;
}

.blog-details-content-1-content-1,
.blog-details-content-1-content-2 {
    width: calc(50% - 10px);
    /* background-color: red; */
}

.blog-details-content-1-content-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px;
}

.blog-details-content-1-content-2 {
    margin-left: 20px;
}

@media(max-width:768px) {
    .blog-details-content-1 {
        display: block;
    }

    .blog-details-content-1-content-1,
    .blog-details-content-1-content-2 {
        width: 100%
    }

    .blog-details-content-1-content-2 {
        margin-left: 0px;
        margin-top: 20px;
    }



}


.blog-details-content-2 {
    width: 100%;
    margin-top: 20px;
}


.blog-details-content-3 {
    display: flex;
    margin-top: 60px;
}

.blog-details-content-3-content-1,
.blog-details-content-3-content-2 {
    width: calc(50% - 10px);
}

.blog-details-content-3-content-2 {
    margin-left: 20px;
}

.blog-details-content-3-content-1 img,
.blog-details-content-3-content-2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px;
}

@media(max-width:768px) {
    .blog-details-content-3 {
        display: block;
    }

    .blog-details-content-3-content-1,
    .blog-details-content-3-content-2 {
        width: 100%
    }

    .blog-details-content-3-content-2 {
        margin-left: 0px;
        margin-top: 20px;
    }

}

.blog-details-content-4 {
    margin-top: 20px;
}


.blog-details-content-5 {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.blog-details-content-5-content-1,
.blog-details-content-5-content-2 {
    width: calc(50% - 10px);
}

.blog-details-content-5-content-2 {
    margin-left: 20px;
}


.blog-details-content-5-content-1 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px;
}

@media(max-width:768px) {
    .blog-details-content-5 {
        display: block;
    }

    .blog-details-content-5-content-1,
    .blog-details-content-5-content-2 {
        width: 100%
    }

    .blog-details-content-5-content-2 {
        margin-left: 0px;
        margin-top: 20px;
    }
}








.blog-details-content-6 {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.blog-details-content-6-content-1,
.blog-details-content-6-content-2 {
    width: calc(50% - 10px);
}

.blog-details-content-6-content-2 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px;
}

.blog-details-content-6-content-2 {
    margin-left: 20px;
}



@media(max-width:768px) {
    .blog-details-content-6 {
        display: block;
    }

    .blog-details-content-6-content-1,
    .blog-details-content-6-content-2 {
        width: 100%
    }

    .blog-details-content-6-content-2 {
        margin-left: 0px;
        margin-top: 20px;
    }
}

.blog-details-content-7{
    width: 100%;
    margin-top: 20px;
}

.blog-details-content-8{
    width: 100%;
    margin-top: 60px;
}

.blog-details-content-8 iframe{
    width: 100%;
    height: 400px;
    border-radius: 5px;
}


@media(max-width: 576px) {
    .blog-details-content-8 iframe{
        height: 300px;
    }    
}